<!-- Generated template for the IonUploadImageComponent component -->
<div *ngIf="images.length === 0" class="min-height">
    <!-- <img (click)="onUpload()" src="./assets/image/uploadImg.png"> -->
    <p class="paddingText" *ngIf="isImgProduct">อัพโหลดรูปภาพสินค้า:</p>
    <p class="paddingText" *ngIf="isImgShop">อัพโหลดรูปภาพร้านค้า:</p>
    <p class="paddingText" *ngIf="isImgProfile">อัพโหลดรูปภาพโปรไฟล์:</p>

    <img *ngIf="isImgProduct" (click)="onUpload()" src="./assets/image/Upload Product.png">
    <img *ngIf="isImgProfile" (click)="onUpload()" src="./assets/image/Upload-Photo.png">
    <img *ngIf="isImgShop" (click)="onUpload()" src="./assets/image/Upload-Shop.png">
</div>

<div *ngIf="images.length > 0" class="min-height">
  <ion-slides #formSlideImages pager="true">
    <ion-slide *ngFor="let item of images; let i = index;" class="min-height">
      <img id="maxImage" src="{{ item }}" class="image-height">
      <div id="fixPosition">
          <ion-icon id="iconTrash" name="ios-trash" (click)="onRemove(i)"></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>
</div>

<button *ngIf="isShowUpload" id="button-md" ion-button block (click)="onUpload()">Submit</button>